<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MvcDataViews{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>Динисламов Ильяс и Мингазов Альмир., Группа ИС-201кН</h1>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li><a href="{{ url_for('home') }}">Главная</a></li>
                    <li><a href="{{ url_for('person.index') }}">Список людей</a></li>
                </ul>
            </div>
        </div>
        
        <div id="main">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </div>
        
        <div id="footer"></div>
    </div>
</body>
</html>